In [1]:
import pandas as pd
from functools import reduce

In [2]:
df1 = pd.read_csv('./metamap_features_1.csv')
df2 = pd.read_csv('./metamap_features_2.csv')
df3_1 = pd.read_csv('./metamap_features_3_1.csv')
df3_2 = pd.read_csv('./metamap_features_3_2.csv')
df3_3 = pd.read_csv('./metamap_features_3_3.csv')
df4 = pd.read_csv('./metamap_features_4.csv')
df5 = pd.read_csv('./metamap_features_5.csv')
df6 = pd.read_csv('./metamap_features_6.csv')
df7 = pd.read_csv('./metamap_features_7.csv')
df8 = pd.read_csv('./metamap_features_8.csv')
df9 = pd.read_csv('./metamap_features_9.csv')
df10 = pd.read_csv('./metamap_features_10.csv')
df11 = pd.read_csv('./metamap_features_11.csv')
df12 = pd.read_csv('./metamap_features_12.csv')
df13 = pd.read_csv('./metamap_features_13.csv')

In [3]:
dataframes = [df1, df2, df3_1, df3_2, df3_3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13]

In [4]:
def clean_df(df):
    df['index'] = df.index
    label = df[['index', 'label']]
    df = df.drop(columns=['label'])

    frames = [df, label]
    df_new = reduce(lambda  left,right: pd.merge(left,right,on=['index'],
                                        how='inner'), frames)
    return df_new

In [5]:
df1 = clean_df(df1)
df2 = clean_df(df2)
df3_1 = clean_df(df3_1)
df3_2 = clean_df(df3_2)
df3_3 = clean_df(df3_3)
df4 = clean_df(df4)
df5 = clean_df(df5)
df6 = clean_df(df6)
df7 = clean_df(df7)
df8 = clean_df(df8)
df9 = clean_df(df9)
df10 = clean_df(df10)
df11 = clean_df(df11)
df12 = clean_df(df12)
df13 = clean_df(df13)

In [6]:
df = pd.concat(dataframes)
df.reset_index

# print(len(df))
df.head()

,label,aapp,acab,acty,aggp,amas,amph,anab,anim,anst,...,socb,sosy,spco,tisu,tmco,topp,virs,vita,vtbt,index
0,Fake,1,0,3,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,Fake,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,Fake,1,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,2
3,Fake,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,3
4,Fake,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,4

In [7]:
# Fix label problem
df['label'] = df['label'].str.lower()
df.head()

,label,aapp,acab,acty,aggp,amas,amph,anab,anim,anst,...,socb,sosy,spco,tisu,tmco,topp,virs,vita,vtbt,index
0,fake,1,0,3,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,fake,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,fake,1,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,2
3,fake,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,3
4,fake,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,4

In [8]:
# Encode categorical variables
df = pd.get_dummies(df, columns=['label'])
df.head()

,aapp,acab,acty,aggp,amas,amph,anab,anim,anst,antb,...,spco,tisu,tmco,topp,virs,vita,vtbt,index,label_fake,label_true
0,1,0,3,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
1,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
2,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,2,1,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,3,1,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,4,1,0

In [9]:
# Drop unnecessary columns
df = df.drop(columns=['label_true', 'index'])
df.head()

,aapp,acab,acty,aggp,amas,amph,anab,anim,anst,antb,...,socb,sosy,spco,tisu,tmco,topp,virs,vita,vtbt,label_fake
0,1,0,3,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
1,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,1
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [10]:
df.to_csv('../10.csv', index=False)